<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Details</title>
        <link rel="stylesheet" href="/css/style.css">
</head>
<body>
        <%- include('includes/navbar') %>
        <div class="container">
                <div class="about">
                        <div class="id">id:<%= post.id %></div>
                        <div class="username">
                                <%= post.username %>
                        </div>
                        <div class="timestamp">
                                <%= post.published_at.toLocaleString() %>
                        </div>
                </div>
                        <div class="content-box">
                                <div class="title">
                                        <input type="text" name="newtitle" value="<%= post.title %>" readonly />
                                </div>
                                <div class="blog">
                                        <textarea name="newcontent" id=""  readonly>
                                        <%= post.content.trim() %>
                                        </textarea>
                                </div>
                        </div>
                
        </div>
        <%- include('includes/footer') %>
</body>
</html>